{% if site.data.index.config.comments.repo or include.comments.repo %}
<div class="p-2">
    <script src="https://utteranc.es/client.js"
            repo="{{include.comments.repo | default: site.data.index.config.comments.repo}}"
            issue-term="{{include.comments.issue_term | default: site.data.index.config.comments.issue_term | default: "pathname"}}"
            label="{{include.comments.issue_label | default: site.data.index.config.comments.issue_label | default: "comments"}}"
            theme="{{include.comments.theme | default: site.data.index.config.comments.theme | default: "preferred-color-scheme"}}"
            crossorigin="{{include.comments.crossorigin | default: site.data.index.config.comments.crossorigin | default: "anonymous"}}"
            async>
    </script>
</div>
{% endif %}