{% if link.pdf %}
{% assign kind = "PDF" %}
{% unless link.link %}
{% if link.pdf contains "://" %}
{% assign url = link.pdf | prepend: "http://docs.google.com/gview?url=" %}
{% else %}
{% assign url = link.pdf %}
{% endif %}
{% endunless %}
{% endif %}

{% if link.notebook %}
{% assign kind = "Notebook" %}
{% assign metadata_name = link.notebook | replace: "/", "_" | remove: " " %}
{% assign title = site.data.notebooks[metadata_name].title %}
{% assign description = site.data.notebooks[metadata_name].description %}
{% unless link.link %}
{% assign url = "/notebooks" | prepend: site.baseurl | append: "/" | append: link.notebook %}
{% endunless %}
{% endif %}

{% if link.index %}
{% assign kind = "Page" %}
{% assign title = site.data[link.index].title %}
{% assign description = site.data[link.index].description.content | default: site.data[link.index].description | default: site.data[link.index].header.description | default: site.data[link.index].header  %}
{% unless link.link %}
{% assign url = link.index | prepend: site.baseurl | append: ".html" %}
{% endunless %}
{% endif %}

{% assign link = include.link %}
<a href="{{ link.link | default: url }}" class="{{include.class}}">
    {% if link.icon %}
    <i class="{{ link.icon }}" aria-hidden="true"></i>
    {% endif %}
    {% if link.text %}
    {{ link.text }}
    {% endif %}
</a>