{% assign author = include.author %}
{% assign author_path = include.author_path %}
<div class="card shadow-sm border-0 rounded">
    <div class="card-body p-0">
        {% if author.image %}

                <img alt="" class="w-100 card-img-top"
                    {% unless author.image contains '://' %}
                    src="{{ '/assets/notebooks' | prepend: site.baseurl }}/{{ author_path }}/authors/{{ author.image }}"
                    {% else %}
                    src="{{ author.image }}"
                    {% endunless %}
                >

        {% endif %}
        <div class="p-4 text-center">
            <h5 class="mb-0">{{ author.name }}</h5>
            <p class="small text-muted">{{ author.role }}</p>
            {% if author.contact %}
            <ul class="social mb-0 list-inline mt-3">   
                    {% for contact in author.contact %}
                    <li class="list-inline-item m-0">
                        <a href="{{ contact.url }}">
                            <i class="{{ contact.icon }}" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% endfor %}
            </ul>
            {% endif %}
        </div>

    </div>
</div>
