{% assign author = include.author %}
{% assign author_path = include.author_path %}
<div class="card bg-light rounded-0 shadow border-0 p-0">
    <div class="row no-gutters">
        <div class="col-6 m-auto">
            <img class="card-img m-auto" src="{{ '/assets/notebooks' | prepend: site.baseurl }}/{{ author_path }}/authors/{{ author.image }}">
        </div>
        <div class="col">
            <div class="card-body align-middle text-center">
                <h5 class="card-title">{{ author.name }}</h5>
                <span class="badge badge-pill badge-success">{{ author.role }}</span>
                <br>
                {% if author.contact %}
                    {% for contact in author.contact %}
                    <a href="{{ contact.url }}" class="text-reset text-decoration-none">
                        <i class="{{ contact.icon }}" aria-hidden="true"></i>
                    </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
