<div class="container-fluid p-0 m-0 no-gutters"
     style="box-sizing: border-box;">
    {% assign index_tag = include.index.title | remove: " " %}

    <!--generic content spaces-->
    {% for pair in include.index %}
    {% if pair[0] == "title" or pair[0] == "nav" or pair[0] =="footer" or pair[0] =="header" or
    include.skip_description and pair[0] == "description" %}
    {% continue %}
    {% endif %}

    {% assign label = pair[1].label | default: pair[0] %}
    {% assign value = pair[1] %}
    {% assign content = pair[1].content | default: pair[1] %}

    <!--setting dynamic spacing (padding/margins)-->
    {% if content.first %}
    {% assign spacing = "p-0" %}
    {% else %}
    {% assign spacing = "p-4" %}
    {% endif %}
    {% if pair[1].label != false %}
    {% assign pad_direction = "e" %}
    {% else %}
    {% assign pad_direction = "x" %}
    {% endif %}
    <div
        {% if pair[1].background %}
        class="shadow-sm row align-items-center py-3 p{{pad_direction}}-xs-0 p{{pad_direction}}-sm-0
        p{{pad_direction}}-md-1 p{{pad_direction}}-lg-2 p{{pad_direction}}-xlg-2 p{{pad_direction}}-xxlg-2"
        style="
          min-height: 5vh;
          background-image: url('{{ pair[1].background }}');
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;"
        {% else %}
        class="row align-items-center my-2 p{{pad_direction}}-xs-0 p{{pad_direction}}-sm-0 p{{pad_direction}}-md-1
         p{{pad_direction}}-lg-2 p{{pad_direction}}-xlg-2 p{{pad_direction}}-xxlg-2"
        style="min-height: 5vh;"
        {% endif %}
    >
        {% unless pair[1].kind == "people" %}
        {% if pair[1].label != false %}
        <div class="shadow-lg bg-dark col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2  col-xxl-2 p-2 d-flex text-muted justify-content-center">
            <strong>{{label | capitalize }}</strong>
        </div>
        {% endif %}
        <div
            {% if pair[1].label != false %}
            class="rounded list-group shadow col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10  col-xxl-10  {{spacing}} justify-content-center"
            {% else %}
            class="rounded list-group shadow col-12 {{spacing}} justify-content-center"
            {% endif %}
        >
            {% if content.first %}

            {% case pair[1].kind %}
            <!--chapters-->
            {% when "chapters" %}
            {% include chapters.html index=include.index content=content level=include.level %}

            <!--generic media links-->
            {% else %}
            {% for link in content %}
            {% include link.html grouped=true link=link %}
            {% endfor %}
            {% endcase %}

            {% else %}
            {{ content }}
            {% endif %}
        </div>
        {% else %}
        {% case pair[1].kind %}
        {% when "people" %}
        {% include people.html people=value label=label %}
        {% endcase %}
        {% endunless %}
    </div>
    {% endfor %}
</div>





