{% assign index = page.index | default: "index" %}
{% assign index = site.data[index] %}
<html>

<head>
    <title>{{ index.title | default: "Index" }}</title>
    {% include head.html %}
    {% include meta.html meta=index.meta %}
</head>

<body class="bg-secondary">
<div class="app-content container-fluid">
    {% include header.html header=index.header %}
    {% include nav.html %}

    <div id="app-body"
         class="app-body
         container-fluid bg-white justify-content-center align-items-center d-flex shadow ">
        {% include toc.html index=index level=1%}
    </div>
    {% include footer.html footer=index.footer %}
</div>
</body>

</html>