<nav class="navbar navbar-expand-lg navbar-dark fixed-bottom bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerSupportedContent"
        aria-controls="footerSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="footerSupportedContent">
        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Previous Title <i class="fa fa-arrow-circle-left ml-2"></i></a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand mx-2">{{ include.title }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-arrow-circle-right mr-2"></i> Next Title</a>
            </li>
        </ul>
    </div>
</nav>