<div id="toc_container" class="p-2">
    <p class="toc_title"><h1>Table of Contents</h1></p>
    <ul class="toc_list">
        {% for chapter in site.data.content %}
            {% assign found = false %}
            {% for note in chapter.notes %}
                {% if note.notebook %}
                    {% assign found = true %}
                {% endif %}
            {% endfor %}
            {% if found %}
                <li>{{ chapter.title }}</a>
                <ul>
                    {% for note in chapter.notes %}
                        {% if note.notebook %}
                            <li>
                                <a
                                    class="btn btn-sm"
                                    href="{{ '/notebooks' | prepend: site.baseurl }}/{{chapter.id}}/{{ note.notebook }}">
                                    {{ note.title }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
