<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ '/' | prepend: site.baseurl }}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% for chapter in site.data.content %}
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#" id="navbarDropdown-{{ chapter.id }}"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    {{ chapter.title }}
                </a>
                <div class="dropdown-menu" aria-labelledby="-{{ chapter.id }}">
                    {% for note in chapter.notes %}
                        <a
                            class="dropdown-item {% unless note.notebook %}disabled{% endunless %}"
                            href="{{ '/notebooks' | prepend: site.baseurl }}/{{chapter.id}}/{{ note.notebook }}"
                        >
                        {{ note.title }}
                        </a>
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
            <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
        </ul>
    </div>
</nav>