<footer class="container-fluid bg-light dark shadow text-center align-items-center p-0 hidden-print"
        {% if include.footer.background or include.background %}
        style="
          min-height: 2vh;
          background-image: url('{{ include.footer.background | default: include.background }}');
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;"
        {% else %}
        style="min-height: 2vh;"
        {% endif %}
>
    <div
            {% if include.footer.background or include.background %}
            style="background-color:rgba(255,255, 255, 0.7);"
            class="w-100 p-3 m-auto text-center"
            {% else %}
            class="bg-light p-3 m-auto text-center"
            {% endif %}
    >
        {{ include.footer.text | default: site.data.index.footer.text | default: site.data.index.footer.text }}
        © Powered by <a class="link-primary" href="https://github.com/webifier/build">Webifier</a>
    </div>
</footer>