{% if include.people %}
{% assign content = include.people.content | default: include.people %}
{% assign label = include.label | default: include.people.label %}
<div
        class="container-fluid bg-white align-center px-0 my-0 py-0"
        {% if include.people.background or include.background %}
        style="
          background-image: url('{{ include.people.background | default: include.background }}');
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;"
        {% endif %}
>
    <div class="row pb-0 mb-0 d-flex justify-content-center">
        {% for person in content %}
        {% include person.html person=person style=include.people.style.person %}
        {% endfor %}
    </div>
</div>
{% endif %}