body {
    zoom: 125%;
}

* > p:last-child { margin-bottom: 0 !important; }

a { text-decoration: none; }

.hover-shadow:hover {
    filter: drop-shadow(0 0.1rem 0.3rem rgba(0,0,0, 0.5));
}
.hover-shadow {
    transition: all 0.1s ease;
}
footer {
    position: static;
    width: 100%;
    bottom: 0;
}

.bg-black {
    background-color: black;
}

.app-content {
    padding: 3vh 0;
    max-width:85%;
}

.accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.accordion-button:hover {
    z-index: 2;
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
}

.accordion-button.collapsed {
    background-color: white;
}

@media only screen and (max-width: 1400px) {
    .app-content {
        max-width:95%;
    }
}

@media only screen and (max-width: 1200px) {
    .app-content {
        max-width:100%;
    }
}
